@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {

  html,
  body {
    @apply bg-slate-50 text-slate-800;
  }

  .responsible {
    @apply px-4;
  }

  button.accent {
    @apply hover:bg-green-600 bg-green-500 font-medium text-sm py-2 rounded-md;

    width: 100%;
    color: white;
    cursor: pointer;
    font-weight: 600;
  }

  .badge {
    @apply bg-orange-400 text-xs text-white px-4 leading-6 w-fit;
  }
}