@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {

  html,
  body {
    @apply bg-slate-50 text-slate-800;
  }

  button {
    @apply cursor-pointer font-medium text-sm py-2 rounded-md;
  }

  button.accent {
    @apply hover:bg-green-600 bg-green-500;

    width: 100%;
    color: white;
    cursor: pointer;
    font-weight: 600;
  }

  .badge {
    @apply bg-orange-400 text-xs text-white px-4 leading-6 w-fit;
  }

  .price {
    @apply text-slate-800 font-semibold text-xl mb-4;
  }

  .old-price {
    @apply text-slate-400 line-through text-sm mt-2;
  }

  .responsible-box {
    @apply px-4 md:p-0 md:w-[80%] md:max-w-[1000px] mx-auto;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    display: inline-block;
    animation: marquee 15s linear infinite;
    white-space: nowrap;
  }

}